<%- model_class = Sign -%>
<div class="page-header">
  <h1><%= show_title(@location) %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:dir) %></th>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:mod) %></th>
      <th><%= model_class.human_attribute_name(:mod_dir) %></th>
      <th><%= model_class.human_attribute_name(:quantity) %></th>
      <th><%= model_class.human_attribute_name(:price) %></th>
      <th><%= model_class.human_attribute_name(:last_updated) %></th>
      <th><%=t 'Change quantity' %></th>
    </tr>
  </thead>
  <tbody>
    <% @signs.each do |sign| %>
      <tr id="<%= "#{sign}" %>">
        <td><%= link_to sign.id, sign_path(sign) %></td>
        <td><%= sign.dir %></td>
        <td><%= sign.name %></td>
        <td><%= sign.mod %></td>
        <td><%= sign.mod_dir %></td>
        <td class="qty"><%= sign.quantity %></td>
        <td><%= number_to_currency(sign.price) %></td>
        <td class="updated"><%= sign.updated_at.localtime.strftime("%I:%M %P on %m-%d-%Y") %></td>
        <td>
          <%= form_for sign, url: update_qty_sign_path(sign), remote: true do |f| %>
          <%= hidden_field_tag :update_qty, -1 %>
          <%= f.submit "-", :class => 'btn' %>
          <% end %>

          <%= form_for sign, url: update_qty_sign_path(sign), remote: true do |f| %>
          <%= hidden_field_tag :update_qty, 1 %>
          <%= f.submit "+", :class => 'btn' %>
          <% end %>
          

          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      sign_path(sign),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<% if @location.nil? %>
<%= link_to t('.new', :default => t("helpers.links.new")),
            new_sign_path,
            :class => 'btn btn-primary' %>
<% else %>
<%= link_to t('.new', :default => t("helpers.links.new")), "#{@location.name.downcase}/new", class: 'btn btn-primary' %>
<% end %>
